.bgrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--u-space-24) var(--u-space-16);
  margin-bottom: var(--u-space-32);
}

@media (max-width: 880px) {
  .bgrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 700px) {
  .bgrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .bgrid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--u-space-22) var(--u-space-14);
  }
}
